<div class="row">
  <h1>Welcome to BOOK MERGE!</h1>
</div>
<div class="row" id="bookpics">
  <ul> <% corpus.keys.each do |key| %>
    <li class='book <%= "#{key.gsub(/\s+/, '').downcase}" %>'><%= key %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div id="prompt" class="col-xs-6 col-md-4">
    <form id="chosen-books">
      <div class="form-group">
        <label for="text1">Book the First:</label>
        <select name="text1" class="form-control booklist" id="text1" placeholder="First book">
          <% for key in corpus.keys %>
            <% unless key == "User generated text" %>
              <option value="<%= key %>"><%= key %></option>
            <% end %>
          <% end %>
          <option class="userbook" value="User generated text">User generated text</option>
        </select>
      </div>

      <div class="form-group">
        <label for="text2">Book the Second:</label>
        <select name="text2" class="form-control booklist" id="text2" placeholder="Second book">
          <% for key in corpus.keys %>
            <% unless key == "User generated text" %>
              <option class="userbook" value="<%= key %>"><%= key %></option>
            <% end %>
          <% end %>
          <option value="User generated text">User generated text</option>
        </select>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-warning" id="clear-lines">Clear Lines</button>
        <button type="button" class="btn btn-primary btn-large" id="get-line" form="chosen-books" type="submit">Get Some Lines!</button>
        <p class="biggertext"><br>Or you can generate sentences merged from your own text! Paste your text below and select "user-generated text" from one (to merge with a classic book) or both (to apply the Markov chain on a single text) drop-down menus above.</p>
      </div>
    </form>
    <textarea rows="4" cols="30" id="usertext" name="usertext" form="chosen-books">It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of Light, it was the season of Darkness, it was the spring of hope, it was the winter of despair, we had everything before us, we had nothing before us, we were all going direct to Heaven, we were all going direct the other way-- in short, the period was so far like the present period, that some of its noisiest authorities insisted on its being received, for good or for evil, in the superlative degree of comparison only.</textarea>
  </div>
  <div id="output" class="col-xs-12 col-md-8">
    <div class="modal"><!-- for loading icon --></div>
    <p class="markov-lines" id="lines"></p>
  </div>
</div>

